<div class="container mt-5 pt-4">
  <div class="title">
    <p>About</p>
    <p>us...</p>
  </div>
  <!-- /.title -->
  <div class="content mb-5">
    <mat-card class="col-6 p-0 mt-5 mb-5">
      <p>
        We makes finding fantastic recipes easy with features like search by ingredient,
        and a ranking system based on social-media popularity.
      </p>
      <p>
        The recipes we index are from everyday cooks and chefs that have perfected the recipe over time.
        Forkify recipes range from the decadent to simple for whatever mood you are in. With recipes being added daily
        there will always be something new for you to crave.
      </p>
    </mat-card>
  </div>
  <!-- /.content -->
</div>
<!-- /.container -->

<div class="background"></div>
<!-- /.background -->
