@import "../../../forkify-theme";

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%;
  &:hover {
    cursor: pointer;
  }
}

.close-btn {
  position: absolute;
  right: 0;
  border: 0 !important;
  outline: none !important;
  background: transparent;
  fill: $forkify-surface;
  opacity: 0.65;
  &:hover {
    cursor: pointer;
  }
}

.dialog-text {
  color: $forkify-background !important;
  font: 500 13px/1.5 'Montserrat', 'Raleway', sans-serif !important;
  margin: 0 56px;
  text-align: left;
  text-wrap: none;
}

.icon-bg-success {
  background: #2faa6a;
}
.icon-bg-error {
  background: #641729;
}
.icon-bg-error, .icon-bg-success {
  position: absolute;
  height: 56px;
  width: 56px;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-success svg, .icon-error svg {
  z-index: 99;
  position: relative;
}
