<div class="main-nav-container" *ngIf="isToken">
  <app-navbar (logout)="onLogout($event)"></app-navbar>
  <!-- /app-navbar -->
  <div class="toolbar-placeholder"></div>
  <!-- /.toolbar-placeholder -->
</div>
<!-- /.main-nav-container -->

<div class="spinner">
  <ngx-spinner
    bdColor = "rgba(36,36,44,0.98)"
    size = "large"
    color = "#5ae7bd"
    type = "ball-scale-multiple"
  ></ngx-spinner>
</div>
<!-- /.spinner -->

<router-outlet></router-outlet>

<footer class="privacy-policy-container">
  <a href="https://www.iubenda.com/privacy-policy/46176602" class="iubenda-white iubenda-embed" title="Privacy Policy" target="_blank">Privacy Policy</a>
</footer>
<!-- /.privacy-policy-container -->
