@import "../forkify-theme";

.spinner {
  z-index: 999;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.toolbar-placeholder {
  width: 100vw;
  height: 64px;
  background: transparent;
}

footer {
  width: 100%;
  height: 20px;
  background: transparent;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  a {
    color: lighten($forkify-surface, 10%);
    margin-bottom: 10px;
  }
}


