<div class="container mb-5 d-flex flex-column align-items-center">
  <div class="logo mt-5"></div>
  <!-- /.logo -->
  <mat-card class="mat-card-container mt-5">
    <mat-card-content class="d-flex align-items-center justify-content-between">
      <mat-card-title class="mb-0">LOGIN</mat-card-title>
      <mat-card-actions class="mt-0 f-btn-small">
        <span class="mb-0">Don't have an account yet?</span>
        <a mat-button class="f-btn f-btn-link f-secondary-l" routerLink="/signup">
          Sign Up
        </a>
      </mat-card-actions>
    </mat-card-content>
    <!-- /mat-card-content -->
    <mat-card-content class="mb-0">
      <form [formGroup]="loginForm" class="d-flex justify-content-between flex-wrap" (ngSubmit)="onLogin()">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="loginForm.get('email').invalid && loginForm.get('email').dirty">
            {{ validators.getErrorMsg(loginForm.get('email')) }}
          </mat-error>
        </mat-form-field>
        <!-- /mat-form-field -->
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" type="password" formControlName="password">
          <mat-error *ngIf="loginForm.get('password').invalid && loginForm.get('password').dirty">
            {{ validators.getErrorMsg(loginForm.get('password')) }}
          </mat-error>
        </mat-form-field>
        <!-- /mat-form-field -->
        <button mat-flat-button class="f-btn f-btn-flat f-primary full-width mt-2" type="submit">Login</button>
        <!-- /.f-btn.f-btn-flat.f-primary -->
        <a mat-button class="f-btn f-btn-link f-primary-l f-btn-small" routerLink="/reset-password">
          Forget your password?
        </a>
        <!-- /.f-btn.f-btn-link.f-primary-l -->
      </form>
    </mat-card-content>
    <!-- /mat-card-content -->
    <div class="bg"></div>
    <!-- /.bg -->
  </mat-card>
  <!-- /.mat-card-container -->
</div>
<!-- /.container -->

<div class="background"></div>
<!-- /.background -->
