<div class="container mb-5 d-flex flex-column align-items-center">
  <div class="logo mt-5"></div>
  <!-- /.logo -->
  <mat-card class="mat-card-container mt-5">
    <mat-card-content class="d-flex align-items-center justify-content-between">
      <mat-card-title class="mb-0">{{ 'signUp.title' | translate }}</mat-card-title>
      <div class="mt-0">
        <span class="mb-0 f-btn-small">{{ 'signUp.haveAccount' | translate }}</span>
        <a [link-btn]="'secondary'" [size]="14" [weight]="500" class="d-inline-block ml-3" routerLink="/login">
          {{ 'login.title' | translate }}
        </a>
      </div>
    </mat-card-content>
    <!-- /mat-card-content -->
    <mat-card-content class="mb-4">
      <form [formGroup]="signupForm" class="d-flex justify-content-between flex-wrap" (ngSubmit)="onSignup()">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{ 'login.email' | translate }}</mat-label>
          <input matInput placeholder="Email" formControlName="email" name="email">
          <mat-error *ngIf="signupForm.get('email').invalid && signupForm.get('email').dirty">
            {{ validators.getErrorMsg(signupForm.get('email')) }}
          </mat-error>
        </mat-form-field>
        <!-- /mat-form-field -->
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{ 'login.password' | translate }}</mat-label>
          <input matInput placeholder="Password" type="password" formControlName="password" name="password">
          <mat-error *ngIf="signupForm.get('password').invalid && signupForm.get('password').dirty">
            {{ validators.getErrorMsg(signupForm.get('password')) }}
          </mat-error>
        </mat-form-field>
        <!-- /mat-form-field -->
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{ 'signUp.confirm' | translate }}</mat-label>
          <input matInput placeholder="Confirm password" type="password" formControlName="confirmPassword" name="confirmPassword">
          <mat-error *ngIf="signupForm.get('confirmPassword').invalid && signupForm.get('confirmPassword').dirty">
            {{ validators.getErrorMsg(signupForm.get('confirmPassword')) }}
          </mat-error>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
        <!-- /mat-form-field -->
        <button mat-flat-button [my-color]="'primary-light'" class="f-btn full-width mt-2" type="submit">
          {{ 'signUp.title' | translate }}
        </button>
        <!-- /.f-btn.f-btn-flat.f-primary -->
      </form>
    </mat-card-content>
    <!-- /mat-card-content -->
    <div class="bg"></div>
    <!-- /.bg -->
  </mat-card>
  <!-- /.mat-card-container -->
</div>
<!-- /.container -->

<div class="background"></div>
<!-- /.background -->
