@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

$forkify-primary: #34cbbf;
$forkify-primary-light: #5ae7bd;
$forkify-secondary: #fc315c;
$forkify-secondary-light: #ec5358;
$forkify-accent: #FDBF2D;

$forkify-background: #161719;
$forkify-surface: #0f0f13;
$forkify-error: #911238;

$forkify-on-primary: #ffffff;
$forkify-on-secondary: #122022;
$forkify-on-background: #d9dcda;
$forkify-on-surface: #f1f9f2;
$forkify-on-error: #d9dcda;

