@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

$forkify-primary: #34cbbf;
$forkify-primary-light: #60e7c5;
$forkify-secondary: #B42845;
$forkify-secondary-light: #ec5358;
$forkify-accent: #FDBF2D;

$forkify-background: #13181d;
$forkify-surface: #222b34;
$forkify-error: #911238;

$forkify-on-primary: #ffffff;
$forkify-on-secondary: #122022;
$forkify-on-background: #d9dcda;
$forkify-on-surface: #9ca9b4;
$forkify-on-error: #d9dcda;

@keyframes heartBeat {
  0% { transform: scale(1) }
  25% { transform: scale(1.05) }
  50% { transform: scale(1) }
  75% { transform: scale(1.05) }
  100% { transform: scale(1) }
}

@keyframes wheelSpin {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}




