@import "forkify-theme.scss";

* {
  font-family: 'Raleway', 'Montserrat', sans-serif !important;
  letter-spacing: 0.05em;
  text-decoration: none !important;
}

body {
  background: lighten($forkify-surface, 4%) radial-gradient(ellipse, rgba(52, 203, 191, 0.01), $forkify-surface);
}

.full-width {
  width: 100%;
}
.half-width {
  width: 48%;
}

mat-dialog-container.mat-dialog-container {
  position: fixed !important;
  bottom: 40px;
  right: 40px;
  width: 300px !important;
  height: max-content !important;
  padding: 0;
  background-color: #E0EDEB !important;
}

a.link {
  color: $forkify-secondary-light !important;
  margin: 0 20px;
  transition: border .1s ease-in-out;
  height: 100%;
  padding-top: 18px;
  &:hover {
    border-bottom: 4px solid $forkify-secondary;
    cursor: pointer;
  }
  &.active {
    border-bottom: 4px solid $forkify-secondary;
  }
}

.f-btn, f-btn:focus {
  outline: none !important;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.f-btn-small {
  font-size: 12px !important;
}
.f-btn-flat.f-primary, .f-btn-regular.f-primary {
  background-color: $forkify-primary !important;
  color: $forkify-on-primary !important;
  &:hover {
    background-color: darken($forkify-primary, 7%) !important;
  }
}
.f-btn-flat.f-secondary-l, f-btn-regular.f-secondary-l {
  background-color: $forkify-secondary-light !important;
  color: $forkify-on-secondary !important;
  &:hover {
    background-color: darken($forkify-secondary-light, 4%) !important;
  }
}
.f-btn-stroke.f-primary {
  border-color: $forkify-primary;
  color: $forkify-primary !important;
}
.f-btn-link.f-grey {
  color: #79888D !important;
  transition: color .2s ease-in-out;
  &:hover {
    color: lighten(#79888D, 10%) !important;
    background-color: transparent !important;
  }
}
.f-btn-link.f-primary-l {
  color: lighten($forkify-primary, 20%) !important;
  &:hover {
    background-color: transparent !important;
  }
}
.f-btn-link.f-secondary-l {
  color: $forkify-secondary-light !important;
  &:hover {
    background-color: transparent !important;
  }
}

.mat-input-element {
  caret-color: $forkify-secondary-light !important;
}
.mat-form-field.mat-focused .mat-form-field-label,
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: $forkify-secondary-light !important;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $forkify-secondary-light !important;
}



