@import url(~@angular/material/prebuilt-themes/pink-bluegrey.css);
@keyframes heartBeat {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1.05); }
  50% {
    transform: scale(1); }
  75% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }
@keyframes wheelSpin {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
* {
  font-family: 'Raleway', 'Montserrat', sans-serif !important;
  letter-spacing: 0.05em;
  text-decoration: none !important; }

body {
  background: #2a3540 radial-gradient(ellipse, rgba(52, 203, 191, 0.01), #222b34); }

.full-width {
  width: 100%; }

.half-width {
  width: 48%; }

.dash {
  position: absolute;
  bottom: 0;
  right: -540px;
  height: 4px;
  width: 340px;
  background: linear-gradient(45deg, #60e7c5, #34cbbf);
  transition: right .2s ease-in; }

a.link {
  color: #ec5358 !important;
  margin: 0 20px;
  transition: border .1s ease-in-out;
  height: 100%;
  padding-top: 18px; }
  a.link:hover, a.link.active {
    border-bottom: 4px solid #B42845;
    cursor: pointer; }

.f-btn, f-btn:focus {
  outline: none !important;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; }

.f-btn-small {
  font-size: 12px !important; }

.settings-btn {
  color: #60e7c5 !important;
  transition: border .2s ease-in-out;
  padding: 0 0 12px !important; }
  .settings-btn svg path:last-of-type {
    animation: none; }
  .settings-btn:hover, .settings-btn.active {
    cursor: pointer;
    border-bottom: 4px solid #34cbbf; }
  .settings-btn.active ~ .dash {
    right: -70px; }
  .settings-btn.active svg path {
    animation: wheelSpin 2s linear infinite;
    transform-origin: center; }
    .settings-btn.active svg path:last-of-type {
      animation-direction: reverse; }

.mat-input-element {
  caret-color: #ec5358 !important; }

.mat-form-field.mat-focused .mat-form-field-label,
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #ec5358 !important; }

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #ec5358 !important; }

.mat-pseudo-checkbox {
  border-width: 1px !important;
  width: 16px !important;
  height: 16px !important; }

.mat-primary .mat-pseudo-checkbox-checked {
  background: #ec5358 !important; }

label.mat-checkbox-layout {
  display: flex !important;
  flex-direction: row-reverse !important;
  align-items: center;
  font-size: 10px !important;
  text-transform: uppercase;
  padding: 4px 16px !important;
  margin: 0 !important; }
  label.mat-checkbox-layout .mat-checkbox-inner-container {
    width: 17px !important;
    height: 17px !important;
    margin: 0 0 0 10px !important; }
  label.mat-checkbox-layout .mat-checkbox-label {
    position: relative;
    top: 1px; }

.mat-checkbox-frame {
  border: 1px solid rgba(19, 24, 29, 0.35) !important;
  background-color: #252F39 !important; }

mat-list-item mat-slide-toggle.mat-slide-toggle .mat-slide-toggle-label {
  display: flex !important;
  flex-direction: row-reverse !important;
  width: inherit !important;
  justify-content: space-between; }
  mat-list-item mat-slide-toggle.mat-slide-toggle .mat-slide-toggle-label .mat-slide-toggle-bar {
    margin: 0;
    background-color: rgba(176, 190, 197, 0.5) !important; }
    mat-list-item mat-slide-toggle.mat-slide-toggle .mat-slide-toggle-label .mat-slide-toggle-bar .mat-slide-toggle-thumb {
      background-color: #95b0b4 !important; }

mat-list-item mat-slide-toggle.mat-slide-toggle.mat-checked .mat-slide-toggle-label .mat-slide-toggle-bar {
  background-color: rgba(52, 203, 191, 0.5) !important; }
  mat-list-item mat-slide-toggle.mat-slide-toggle.mat-checked .mat-slide-toggle-label .mat-slide-toggle-bar .mat-slide-toggle-thumb {
    background-color: #34cbbf !important; }

.mat-list .mat-list-item .mat-list-item-content {
  padding: 0 !important;
  width: inherit;
  display: flex;
  justify-content: space-between; }

.mat-list .mat-list-item {
  height: fit-content !important; }

.mat-menu-panel {
  position: relative;
  top: -4px;
  background-color: #F5FFFA;
  min-width: 40px !important;
  border-radius: 0 !important;
  outline: none !important; }
  .mat-menu-panel .mat-menu-content {
    width: 100px;
    padding: 0 !important; }

.mat-tab-labels {
  background: rgba(23, 29, 35, 0.65) !important; }
  .mat-tab-labels .mat-tab-label {
    height: 50px !important; }

mat-tab-header {
  border-bottom: none !important; }

.mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #ec5358 !important;
  height: 4px !important; }

.snack-bar-error, .snack-bar-success {
  position: relative;
  overflow: hidden;
  background: #d9dcda;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0 !important;
  height: 56px;
  padding: 20px !important;
  max-width: 800px !important; }

#user-settings, #confirm-dialog {
  background: #f5fffa;
  border-radius: 0 !important;
  z-index: 999 !important; }

#user-settings .mat-list-item {
  height: 48px !important; }

#confirm-dialog {
  color: #13181d !important;
  text-align: center !important; }
  #confirm-dialog h4 {
    font-size: 14px !important; }
  #confirm-dialog mat-dialog-content {
    font-size: 13px !important; }
  #confirm-dialog .mat-dialog-actions {
    justify-content: center; }
  #confirm-dialog button {
    outline: none !important; }

/*# sourceMappingURL=styles.css.map */
