<mat-dialog-content (mouseenter)="onEnter()" (mouseleave)="onLeave()" opacity>
  <button class="close-btn" (click)="onClose()">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
      <path d="M0 0h24v24H0z" fill="none"/>
    </svg>
  </button>
  <!-- /.close-btn -->
  <div class="icon-success mt-3 mb-2" *ngIf="data?.type === 'success'">
    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24">
      <path fill="none" d="M0 0h24v24H0V0zm0 0h24v24H0V0z"/>
      <path d="M16.59 7.58L10 14.17l-3.59-3.58L5 12l5 5 8-8zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
    </svg>
  </div>
  <!-- /.icon-success -->
  <div class="icon-error mt-3 mb-2" *ngIf="data?.type === 'error'">
    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M14.59 8L12 10.59 9.41 8 8 9.41 10.59 12 8 14.59 9.41 16 12 13.41 14.59 16 16 14.59 13.41 12 16 9.41 14.59 8zM12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
    </svg>
  </div>
  <!-- /.icon-error -->
  <h5 class="dialog-title mb-1" mat-dialog-title>{{ data?.title }}</h5>
  <p class="dialog-text text-center">{{ data?.message }}</p>
  <mat-dialog-actions *ngIf="data?.action">
    <button mat-flat-button color="#5ae7bd" class="f-btn f-btn-flat btn-success" *ngIf="data.type === 'success'">{{ data.action }}</button>
    <button mat-flat-button color="#ec4c5b" class="f-btn f-btn-flat btn-error" *ngIf="data.type === 'error'">{{ data.action }}</button>
  </mat-dialog-actions>
</mat-dialog-content>
