<div class="container mt-5 mb-5 d-flex flex-column align-items-center">
  <mat-card class="mat-card-container mt-5">
    <mat-card-content class="d-flex align-items-center justify-content-between">
      <mat-card-title class="mb-0">Restoring Password</mat-card-title>
    </mat-card-content>
    <mat-card-content class="mb-0">
      <form [formGroup]="restoreForm" class="d-flex justify-content-between flex-wrap" (ngSubmit)="onRestore()">
        <mat-form-field class="full-width mb-2" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="restoreForm.get('email').invalid && restoreForm.get('email').dirty">
            {{ validators.getErrorMsg(restoreForm.get('email')) }}
          </mat-error>
          <mat-hint>Please enter your registration email</mat-hint>
        </mat-form-field>
        <button mat-flat-button class="f-btn f-btn-flat f-primary half-width mt-2" type="submit">Send restore link</button>
        <button mat-stroked-button class="f-btn f-btn-stroke f-primary half-width mt-2" routerLink="/login">Cancel</button>
      </form>
    </mat-card-content>
    <div class="bg"></div>
  </mat-card>
</div>
